.container {
  position: relative;
  display: flex;
  height: 100dvh;
  flex-direction: column;
  align-items: center;
}

.body {
  background-color: var(--background-01);
  width: 90%;
  height: 80%;
  margin-top: 50px;
  border-radius: 40px;
  padding: 22px;
}
