.container {
	position: absolute;
	top: 12;
	left: 12;
	min-width: 48px;
	min-height: 48px;
	padding-inline: 10px;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	background-color: var(--background-01);
	z-index: 2;
}

.hash {
	font-size: 20px;
	color: var(--neutral-500);
}
