.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  position: relative;
}

.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--background-01);
  padding: 20px 100px;
  border-radius: 70px;
}

.title {
  font-size: 92px;
  margin-bottom: -20px;
}

.cards {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: center;
}
