.pageWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 22px;

  section {
    border-radius: calc(40px - 22px);
    background-color: gray;
    flex: 1;
    overflow: hidden;
  }
}