.componentWrapper {
	width: 100%;
	height: 100%;
}

.flagContainer {
	position: relative;
	width: 100%;
	height: 300px;
	border-radius: 24px;
}

.flag {
	width: 100%;
	height: 300px;
	border-radius: 24px;
	object-fit: cover;
}

.form {
	display: flex;
	margin-top: 18px;
	gap: 12px;
}

.guessHistoryWrapper {
	margin-top: 26px;

	p {
		font-size: calc(20 * 1rem / 16);
		margin-bottom: 14px;
	}
}

.guess {
	width: 100%;
	font-size: calc(16 * 1rem / 16);
	color: var(--color-guess-history-text);
	padding: 8px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding-left: 12px;
}

.correctGuess {
	background-color: var(--success);
}
.incorrectGuess {
	background-color: var(--fail);
}

.guessHistoryContent {
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: 290px;
	overflow: hidden;
	mask-image: linear-gradient(
		to bottom,
		transparent,
		black 0%,
		black 90%,
		transparent
	);
}
