.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  cursor: pointer;
  border: none;
  padding: 8px 32px;
  border-radius: 14px;
  background-color: var(--accent-01);
  color: var(--background-01);
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  border: 1px solid transparent;
  min-height: 36px;

  &:disabled {
    background-color: var(--shadow-01);
    color: var(--text-03);
    cursor: not-allowed;
  }

  &.outlined {
    background-color: var(--background-01);
    color: var(--text-01);
    border: 1px solid var(--accent-02);
  }
}

.fullWidth {
  width: 100%;
}
