.headerWrapper {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;
	padding: 10px 40px;
	max-width: 1452px;
	width: 100%;
}

.home {
	font-size: calc(30 * 1rem / 16);
}

.homeWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
